<h1>
  {{title}}
</h1>
<div class="buttons" id="buttons">
  <button id="place_it" (click)="getInitialPosition()">Place it!</button>
  <div *ngIf="(currentPos | json) != ({} | json)">
    <button [disabled]="currentPos.f === '' " (click)="moveMe()">Move me</button>
    <button (click)="turnLeft()">Turn left</button>
    <button (click)="turnRight()">Turn right</button>
    <button (click)="getReport()">Report</button>
  </div>
</div>
<hr>
<div id="content" *ngIf="(currentPos | json) != ({} | json)">
  I am at: ({{ currentPos.x }}, {{ currentPos.y }}, {{ currentPos.f }})
  <div style="color: red" *ngIf="currentPos.f === ''">
    Please turn left or right as the robot reached the extremity.
  </div>
  <hr>
</div>
<div id="report" *ngIf="(showReport)">
 Report:
  <li *ngFor="let item of movements; let i = index;">
    {{ (i + 1) }} - {{ item}} <br>
    ---------------------------------------
  </li>
</div>
